.App {
  text-align: left;
  font-weight: bold ;
}

.message 
{	margin-top: 1em ;
	text-align: center;
	font-size: 3rem ;
	line-height: 3rem ;
}

.rt_img
{
	position: absolute; 
	right : 1em ;
	bottom : 1em ;
}
